html, body{
  overflow-x: hidden;
}

.App {
  max-height: 100vh;
  text-align: center;
}

.App-header {
  z-index: 1;
  font-size: 2rem;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #0A509E;
}


.search{
  width: 63%;
  padding:0;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 700px) {
  .search{
    width: 100%;
  }
}

.wrapper{
  margin-top: 8em;
  overflow: auto;
  padding-bottom: 5em;
}

.highlighted{
  font-weight: bold;
  color: #08E4AB;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  text-align: center;
  background-color: #0A509E;
}
